--
-- PostgreSQL database dump
--

\restrict 0ZMj6W4Mgw7xiOE80DgbiCJE7I98ZbNJG8FdTcs6lduk13cKNt2IfptLm8nzOQd

-- Dumped from database version 15.17
-- Dumped by pg_dump version 15.17

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: device_actions; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.device_actions (
    id bigint NOT NULL,
    created_at timestamp(6) without time zone NOT NULL,
    created_by character varying(255),
    updated_at timestamp(6) without time zone,
    updated_by character varying(255),
    action character varying(255) NOT NULL,
    command character varying(255) NOT NULL,
    device_id bigint NOT NULL
);


ALTER TABLE public.device_actions OWNER TO admin;

--
-- Name: device_actions_id_seq; Type: SEQUENCE; Schema: public; Owner: admin
--

ALTER TABLE public.device_actions ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.device_actions_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: device_components; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.device_components (
    id bigint NOT NULL,
    created_at timestamp(6) without time zone NOT NULL,
    created_by character varying(255),
    updated_at timestamp(6) without time zone,
    updated_by character varying(255),
    active boolean NOT NULL,
    code_name character varying(255) NOT NULL,
    name character varying(255) NOT NULL,
    status character varying(255) NOT NULL,
    device_id bigint NOT NULL
);


ALTER TABLE public.device_components OWNER TO admin;

--
-- Name: device_components_id_seq; Type: SEQUENCE; Schema: public; Owner: admin
--

ALTER TABLE public.device_components ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.device_components_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: devices; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.devices (
    id bigint NOT NULL,
    created_at timestamp(6) without time zone NOT NULL,
    created_by character varying(255),
    updated_at timestamp(6) without time zone,
    updated_by character varying(255),
    active boolean NOT NULL,
    device_id character varying(255) NOT NULL,
    name character varying(255) NOT NULL,
    status smallint,
    CONSTRAINT devices_status_check CHECK (((status >= 0) AND (status <= 1)))
);


ALTER TABLE public.devices OWNER TO admin;

--
-- Name: devices_id_seq; Type: SEQUENCE; Schema: public; Owner: admin
--

ALTER TABLE public.devices ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.devices_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: sensor_telemetry; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.sensor_telemetry (
    id bigint NOT NULL,
    created_at timestamp(6) without time zone NOT NULL,
    created_by character varying(255),
    updated_at timestamp(6) without time zone,
    updated_by character varying(255),
    sensor_type character varying(255) NOT NULL,
    value double precision NOT NULL,
    device_id bigint NOT NULL
);


ALTER TABLE public.sensor_telemetry OWNER TO admin;

--
-- Name: sensor_telemetry_id_seq; Type: SEQUENCE; Schema: public; Owner: admin
--

ALTER TABLE public.sensor_telemetry ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.sensor_telemetry_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: users; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.users (
    id character varying(255) NOT NULL,
    created_at timestamp(6) without time zone NOT NULL,
    created_by character varying(255),
    updated_at timestamp(6) without time zone,
    updated_by character varying(255),
    active boolean NOT NULL,
    first_name character varying(255),
    last_name character varying(255),
    password_hash character varying(255) NOT NULL,
    role character varying(255) NOT NULL,
    username character varying(255) NOT NULL,
    CONSTRAINT users_role_check CHECK (((role)::text = ANY ((ARRAY['ADMIN'::character varying, 'USER'::character varying])::text[])))
);


ALTER TABLE public.users OWNER TO admin;

--
-- Data for Name: device_actions; Type: TABLE DATA; Schema: public; Owner: admin
--



--
-- Data for Name: device_components; Type: TABLE DATA; Schema: public; Owner: admin
--

COPY public.device_components (id, created_at, created_by, updated_at, updated_by, active, code_name, name, status, device_id) FROM stdin;
1	2026-03-25 22:50:11.403419	admin	2026-04-01 19:59:37.158291	admin	t	PUMP1	may bom 1	ON	1
\.


--
-- Data for Name: devices; Type: TABLE DATA; Schema: public; Owner: admin
--

COPY public.devices (id, created_at, created_by, updated_at, updated_by, active, device_id, name, status) FROM stdin;
1	2026-03-17 19:59:35.91158	admin	2026-03-28 15:44:45.227525	admin	t	YOLO-001	may bom	1
\.


--
-- Data for Name: sensor_telemetry; Type: TABLE DATA; Schema: public; Owner: admin
--



--
-- Data for Name: users; Type: TABLE DATA; Schema: public; Owner: admin
--

COPY public.users (id, created_at, created_by, updated_at, updated_by, active, first_name, last_name, password_hash, role, username) FROM stdin;
0f758230-565e-4498-b3e1-3ca77dacf560	2026-03-14 20:03:54.583105	SYSTEM	2026-03-14 20:03:54.583105	SYSTEM	t	\N	\N	$2a$10$edxoOtpIKJQF07P6MKO0Xe5dzR.YZphilwmpwRhtRLGns.6GwNyMC	ADMIN	admin
9c186493-7979-4962-a349-4cfbf06d0908	2026-03-17 19:57:17.7896	SYSTEM	2026-03-17 19:57:17.7896	SYSTEM	t	Ha	Can	$2a$10$QA0I8nIZSPYZ/vcP.Z4VueYwWrLQ2f5ILce9eR7P6DjHg92DY8HcK	ADMIN	canhoangha
\.


--
-- Name: device_actions_id_seq; Type: SEQUENCE SET; Schema: public; Owner: admin
--

SELECT pg_catalog.setval('public.device_actions_id_seq', 26, true);


--
-- Name: device_components_id_seq; Type: SEQUENCE SET; Schema: public; Owner: admin
--

SELECT pg_catalog.setval('public.device_components_id_seq', 1, true);


--
-- Name: devices_id_seq; Type: SEQUENCE SET; Schema: public; Owner: admin
--

SELECT pg_catalog.setval('public.devices_id_seq', 1, true);


--
-- Name: sensor_telemetry_id_seq; Type: SEQUENCE SET; Schema: public; Owner: admin
--

SELECT pg_catalog.setval('public.sensor_telemetry_id_seq', 8, true);


--
-- Name: device_actions device_actions_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.device_actions
    ADD CONSTRAINT device_actions_pkey PRIMARY KEY (id);


--
-- Name: device_components device_components_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.device_components
    ADD CONSTRAINT device_components_pkey PRIMARY KEY (id);


--
-- Name: devices devices_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.devices
    ADD CONSTRAINT devices_pkey PRIMARY KEY (id);


--
-- Name: sensor_telemetry sensor_telemetry_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.sensor_telemetry
    ADD CONSTRAINT sensor_telemetry_pkey PRIMARY KEY (id);


--
-- Name: devices ukkl1viut5wsyxgnd1t3wqf9hbu; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.devices
    ADD CONSTRAINT ukkl1viut5wsyxgnd1t3wqf9hbu UNIQUE (device_id);


--
-- Name: users ukr43af9ap4edm43mmtq01oddj6; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT ukr43af9ap4edm43mmtq01oddj6 UNIQUE (username);


--
-- Name: users users_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_pkey PRIMARY KEY (id);


--
-- Name: sensor_telemetry fk2hx2mx3ony6odixuald4y7wx7; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.sensor_telemetry
    ADD CONSTRAINT fk2hx2mx3ony6odixuald4y7wx7 FOREIGN KEY (device_id) REFERENCES public.devices(id);


--
-- Name: device_components fk5wgivn2i4hfra0t6rtujgadff; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.device_components
    ADD CONSTRAINT fk5wgivn2i4hfra0t6rtujgadff FOREIGN KEY (device_id) REFERENCES public.devices(id);


--
-- Name: device_actions fkd40ebkir13ad7rtlnx9wl6vn1; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.device_actions
    ADD CONSTRAINT fkd40ebkir13ad7rtlnx9wl6vn1 FOREIGN KEY (device_id) REFERENCES public.devices(id);


--
-- PostgreSQL database dump complete
--

\unrestrict 0ZMj6W4Mgw7xiOE80DgbiCJE7I98ZbNJG8FdTcs6lduk13cKNt2IfptLm8nzOQd

